#slide-menu.sidenav.mobile-nav
  .menu
    ul.collection
      each item, index in menu.hosting
        li.collection-item(style="animation-duration: "+(Number(index + 1)) * 0.25 + 's')
          a.sidenav-close.waves-effect.menu-list(href='#' + item.name) #{$t.hosting_landing['header_'+item.name]}
      li.collection-item(style="animation-duration: "+menu.hosting.length * 0.25 + 's')
          a.waves-effect.menu-list(href=link.hosting.contact) #{$t.hosting_landing.header_contact}
    hr.divider-sidebar
    ul.collection
      each item, index in ['login', 'register']
        li.collection-item(style="animation-duration: "+menu.hosting.length * 0.25 + 's')
          a.sidenav-close.waves-effect.menu-list(href=item +".html") #{$t.hosting_landing['header_'+item]}