extends auth-frame.pug

block variables
  - var title = $t.common.register_title
  - var subtitle = $t.common.register_subtitle

block auth_content
  div
    include ../titles/title-secondary.pug
    .head
      +title-secondary("left")
        | #{$t.common.register}
      |
      |
      a.btn.btn-flat.waves-effect.button-link(href=link.hosting.login)
        |
        |
        i.material-icons.icon.left.mr-1 arrow_forward
        | #{$t.common.register_already}
        |
      |
      |
    include social-auth.pug
    .separator
      p #{$t.common.register_or}
    form#register_form(method="POST")
      .row.spacing3
        .col-sm-12
          .input-field.primary.filled
            |
            |
            input.validate#name(type="text" name="name" required)/
            |
            |
            label(for='name') #{$t.common.register_name}
            |
            |
        .col-sm-12
          .input-field.primary.filled
            |
            |
            input.validate#email(type="email" name="email" required)/
            |
            |
            label(for='email') #{$t.common.register_email}
            |
            |
        .col-md-6
          .input-field.primary.filled.mq-md-up(data-class="me-2")
            |
            |
            input.validate#password(type="password" name="password" required)/
            |
            |
            label(for='password') #{$t.common.register_password}
            |
            |
        .col-md-6
          .input-field.primary.filled.mq-md-up(data-class="ms-2")
            |
            |
            input.validate#confirm(type="password" name="confirm" data-validation="confirmation" data-validation-confirm="password" required)/
            |
            |
            label(for='confirm') #{$t.common.register_confirm}
            |
            |
      .btn-area.pb-10.mb-10
        .form-helper.form-control-label
          |
          |
          label
            |
            |
            input.filled-in.secondary(type='checkbox' required)/
            |
            |
            span #{$t.common.form_terms} 
              a.link(href='#') #{$t.common.form_privacy}
            |
            |
          |
          |
        |
        |
        button.btn.secondary.btn-large.waves-effect(type="submit") #{$t.common.continue}
        |
        |

